
   .footer {
    background-color: #1c1c2e; 
    color: #fff; 
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    gap: 30px;
  }
  
  .footer-logo-section,
  .footer-links-section,
  .footer-contact-section {
    flex: 1;
  }
  
  .footer-logo {
    width: 150px;
    margin-bottom: 10px;
  }
  
  .footer-logo-section p {
    margin-top: 10px;
    font-size: 14px;
  }
  
  .footer-links-section h4,
  .footer-contact-section h4 {
    font-size: 16px;
    margin-bottom: 15px;
    color: white;
    cursor: pointer;
  }
  
  .footer-contact-section h4 {
    text-align: center;
  }
  
  .footer-links-section ul {
    list-style-type: none;
    padding: 0;
  }
  
  .footer-links-section ul li {
    margin-bottom: 8px;
  }
  
  .footer-links-section ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .footer-links-section ul li a:hover {
    color: #f39c12;
  }
  
  .footer-contact-section p {
    margin: 5px 0;
    cursor: pointer;
  }
  
  .footer-social-icons a {
    color: #fff;
    font-size: 20px;
    margin-right: 15px;
    transition: color 0.3s;
  }
  
  .footer-social-icons a:hover {
    color: #f39c12;
  }
  
  .footer-copyright {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    color: #aaa;
  }
  
  /* Button styles */
  .btn button {
    background-color: #f39c12;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
  }
  
  .btn button:hover {
    background-color: #e67e22;
  }
  
  
  .footer-contact-form {
    background-color: #2e2e48;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
  }
  
  .contact-form label {
    font-size: 16px;
    margin-bottom: 8px;
    color: white;
  }
  
  .contact-form input {
    padding: 10px;
    font-size: 14px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
    background-color: #fff;
    color: #333;
  }
  
  .contact-form button {
    /* background-color: #f39c12; */
    color: black;
    border: none;
    padding: 12px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 10px;
  }
  
  .contact-form button:hover {
    background-color: #e67e22;
  }
  
 
.email-support{
  color: #ddd;
  cursor: pointer;
}