/* body{
  background-color: whitesmoke;
} */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

a{
  text-decoration: none;
}

li{
  list-style: none;
}

.section{
  padding: 4rem 0 2rem;
}

.container{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.icon{
  font-size: 2rem;
  cursor: pointer;
}

.flex{
  display: flex;
  align-items: center;
}

.grid{
  display: grid;
  align-items: center;
}

.btn{
  padding: .6rem 1.5rem;
  background: rgb(126, 126, 223);
  border-radius: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn a{
  color: white;
  font-weight: 500;
}

.btn:hover{
  background: black;
}

img{
  width: 100%;
  height: auto;
}

input{
  font-size: 100%;
}